/*定义公共颜色样式*/

/*文字颜色*/
/*黑色*/
$black_c:#000000;

/*白色*/
$wihte_c:#fff;

/*链接绿*/
$link_c:#50bcb6;

/*头条红*/
$toutiao_r:#fa4462;

/*首页底部导航*/
$nav_tabbar:#fafafa;

/*外框颜色*/
$bord_c:#ededed;

/*再深一点颜色*/
$deep_c:#333;

/*文字灰*/
$grey_c:#999;

/*输入框边色*/
$inputborder_c:#b6b6b6;

/*深灰*/
$bottle_grey_c:#666;

/*首页底部导航*/
$nav_tabbar:#fafafa;

/*外框颜色*/
$bord_c:#ededed;

/*底色*/
$bottom_c:#eeeeee;
$wihte_c:#ffffff;
$blue_c:#2196f3;
/*文字灰色*/
$gray_c:#757575;

h1{
    font:bold 45px Roboto, sans-serif;
}
.cursorblue{
    cursor: pointer;
    color:$blue_c;
    font-weight: bold;
}
.absoluteall{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}
